services:
  - type: web
    name: fastapi-app
    env: docker
    plan: free
    region: oregon 
    envVars:
      - key: PORT
        value: 10000
      - key: DATABASE_URL
        sync: false
      - key: SECRET_KEY
        generateValue: true
    autoDeploy: true
