services:
  # A PostgreSQL database
  - type: database
    name: fastapi-db
    user: panju
    databaseName: blogdbcourse
    plan: free

  # The FastAPI web service
  - type: web
    name: fastapi-app
    env: docker
    plan: free
    healthCheckPath: /
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: fastapi-db
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: ALGORITHM
        value: HS256
      - key: PROJECT_TITLE
        value: "FastAPI Blog"
      - key: PROJECT_VERSION
        value: "1.0.0"
